In [2]:
import sys 
sys.path.insert(0, 'E:/repos/my_projects/taxi_demand_project')

In [86]:
%reload_ext autoreload
%autoreload 2
from src.data import load_raw_data, transform_to_ts_data
raw = load_raw_data(year=2022)

file taxi_2022_01.parquet already downloaded
file taxi_2022_02.parquet already downloaded
file taxi_2022_03.parquet already downloaded
file taxi_2022_04.parquet already downloaded
file taxi_2022_05.parquet already downloaded
file taxi_2022_06.parquet already downloaded
file taxi_2022_07.parquet already downloaded
file taxi_2022_08.parquet already downloaded
file taxi_2022_09.parquet already downloaded
file taxi_2022_10.parquet already downloaded
file taxi_2022_11.parquet already downloaded
file taxi_2022_12.parquet already downloaded

In [87]:
from src.data import load_raw_data, transform_to_ts_data, transform_ts_data_to_features_and_targets

In [88]:
raw.head()

          PU_datetime  PU_location
0 2022-01-01 00:35:40          142
1 2022-01-01 00:33:43          236
2 2022-01-01 00:53:21          166
3 2022-01-01 00:25:21          114
4 2022-01-01 00:36:48           68

In [89]:
transformed = transform_to_ts_data(raw)

100%|██████████| 262/262 [00:07<00:00, 34.37it/s]

In [91]:
from src.data import load_raw_data, transform_to_ts_data, transform_ts_data_to_features_and_targets

features,targets = transform_ts_data_to_features_and_targets(transformed, 24*28*1, 24)

100%|██████████| 262/262 [01:53<00:00,  2.30it/s]

In [92]:
print('no of features',features.shape)
print('no of targets',targets.shape)

no of features (88294, 674)
no of targets (88294,)

In [93]:
from src.paths import TRANSFORMED_DATA_DIR

tabular = features
tabular['target_next_hour'] = targets

tabular.to_parquet(TRANSFORMED_DATA_DIR/ 'transformed_tabular_data.parquet')